.Options {
    position: absolute;
    align-self: center;
    margin: 50px;
    right: 20px;
}

.OptionsItem {
    margin: 20px;
    color: white;
}

#startAndEndFlag:hover {
    cursor: pointer;
}

.slowTile:hover {
    cursor: pointer;
}

.icons {
    justify-content: center;
    align-items: center;
}